
.container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100vh;
  padding-right: 80px;

  background: linear-gradient(
      rgba(0, 0, 0, 0.55),
      rgba(0, 0, 0, 0.55)
    ),
    url("../assets/1.jpg")
      no-repeat center center/cover;
}


.form-container {
  width: 380px;
  padding: 35px;
  border-radius: 15px;

  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);

  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);

  color: white;
}

/* Title */
.title {
  text-align: center;
  margin-bottom: 5px;
}

.subtitle {
  text-align: center;
  font-size: 14px;
  margin-bottom: 20px;
  opacity: 0.8;
}

/* Toggle */
.form-toggle {
  display: flex;
  margin-bottom: 20px;
}

.form-toggle button {
  width: 50%;
  padding: 10px;
  background: rgba(255, 255, 255, 0.2);
  border: none;
  color: white;
  cursor: pointer;
  font-weight: bold;
}

.form-toggle .active {
  background: #033452;
}

/* Form */
.form {
  display: flex;
  flex-direction: column;
}

.form input,
.form select {
  padding: 12px;
  margin-bottom: 12px;
  border-radius: 6px;
  border: none;
  outline: none;
}

.form a {
  color: #00d4ff;
  text-align: right;
  margin-bottom: 12px;
  text-decoration: none;
}

.main-btn {
  padding: 12px;
  background: #033452;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

.main-btn:hover {
  background: #055a85;
}