body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #0C67A0;
  background-image: url("./assets/Smart-City-Traffic-Management-2.png");
  background-size: cover;       
  background-position: center;  
  background-repeat: no-repeat;  
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.form-container {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
}

.form-toggle {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.form-toggle button {
  width: 50%;
  padding: 10px;
  background-color: #e0e0e0;   
  color: black;                
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 10px 10px 0 0;
}

.form-toggle .active {
  background-color: #033452;
  color: white;
}

.form {
  display: flex;
  flex-direction: column;
}

.form h2 {
  margin-bottom: 20px;
}

.form input {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: white;   
  color: black;              
}

.form button {
  padding: 10px;
  background-color:#033452;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.form a {
  color: #007bff;
  text-decoration: none;
  margin-bottom: 10px;
  text-align: right;
}

.form p {
  text-align: center;
  color: black;
}
.form select {
  padding: 12px;
  margin-bottom: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  background-color: white;
  color: black;     /* ADD THIS */
  outline: none;
}

.form select option {
  color: black;     /* ADD THIS */
}
.form input::placeholder {
  color: #777;
}